{
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "globals": {
    "document": true,
    "window": true,
    "process": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "parser": "flow",
        "semi": false,
        "printWidth": 120,
        "jsxBracketSameLine": true
      }
    ],
    "react/react-in-jsx-scope": 0,
    "radix": 0
  }
}